<!DOCTYPE html>
<html>
<head>
  <title>Swatches</title>
  <%= stylesheet_link_tag "swatches/application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="group">
    <%= yield %>
  </div>

</body>
</html>
