body {
  background: #666;
  padding: 30px;
  font-family: Arial;
}

#container {
  background: white;
  padding: 30px;
  border-radius: 20px;
}

.color-list {
  list-style-type: none;
  color: #000;
  width: 240px;
  float: left;
}

.color-list li {
  padding: 8px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

